* {
  box-sizing: border-box;
}

html, body, #game_space {
  height: 100%;
}

#game_space {
  width: 80%;
  margin: auto;
  height: 80%;
}

body .cell, body .row {
  line-height: 120%;
  font-size: 0pt;
}

/*Desktop and Laptop*/
@media only screen and (min-width : 1224px) {
  .cell {
    height: 20px;
    width: 20px;
  }
}

/*Large Screens*/
@media screen and (min-width : 1824px) {
  .cell {
    height: 30px;
    width: 30px;
  }




}

/*Web browser*/
@media screen and (min-width: 600px) {
  .cell {
    height: 10px;
    width: 10px;
  }
}


.cell {
  background-color: blue;
  position: relative;
  display: inline-block;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}

.cell > div {
  margin: 0;
  border-style: solid;
  position: absolute;
}

.cell-top {
  border-width: 34px 35px 36px 35px;
  border-color: #007bff transparent transparent transparent;
}

.cell-right {
  border-width: 35px 34px 35px 36px;
  border-color: transparent  #007bff transparent transparent;
}

.cell-bottom {
  border-width: 36px 35px 34px 35px;
  border-color: transparent transparent #007bff transparent;
}

.cell-left {
  border-width: 35px 36px 35px 34px;
  border-color: transparent transparent transparent #007bff;
}
